*.pyc

.DS_Store
**/.DS_Store

# Environments
.env
.venv
.env.prod
localrun.sh

# pycharm
__pycache__

# VScode
.VScode
.vscode

# idea
.idea/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
